.indiPhotos {
  width: 300px;
  margin-right: 5px;
}
.heading {
  color: crimson;
  text-align: center;
}
.btn {
  text-align: center;
  margin-left: 600px;
  margin-bottom: 30px;
}
.ib{
    margin-top: 10px;
}